.add-to-cart {
    background: #bb0c0c;
    border-radius: 25%;
    font-size: 150%;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.in-cart {
    background: #3989ff;
    border-radius: 25%;
    font-size: 150%;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.change-button {
    padding: 5px;
    background: #00cd82;
    color: white;
    font-size: 100%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.delete-button {
    padding: 5px;
    background: #bb0c0c;
    color: white;
    font-size: 100%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}